<?xml version="1.0" encoding="UTF-8"?>

<!-- ApplicationContext.xml -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://127.0.0.1:3306/zimmerbelegung</value>
		</property>
		<property name="username">
			<value>zimmerbelegung</value>
		</property>
		<property name="password">
			<value>zimmerbelegung</value>
		</property>
	</bean>

	<!-- SessionFactory -->
	<bean id="factory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="configLocation" value="hibernate.cfg.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- DAOs -->
	<bean id="
		belegungDao " class="de.hdu.zimmerbelegung.dao.BelegungDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="buchungDao" class="de.hdu.zimmerbelegung.dao.BuchungDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="gastDao" class="de.hdu.zimmerbelegung.dao.GastDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="reservierungDao" class="de.hdu.zimmerbelegung.dao.ReservierungDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="tagStatusDao" class="de.hdu.zimmerbelegung.dao.TagStatusDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="zeitraumStatusDao" class="de.hdu.zimmerbelegung.dao.ZeitraumStatusDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
	<bean id="zimmerDao" class="de.hdu.zimmerbelegung.dao.ZimmerDao">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>

	<!-- Manager -->
	<!-- <bean id="belegungManager" class="de.hdu.zimmerbelegung.manager.BelegungManager"> -->
	<!-- <property name="belegungManager"> -->
	<!-- <ref bean="belegungManager" /> -->
	<!-- </property> -->
	<!-- </bean> -->
	<bean id="adminGastManager" class="de.hdu.zimmerbelegung.manager.AdminGastManager">
		<property name="gastDao">
			<ref bean="gastDao" />
		</property>
	</bean>

	<bean id="adminBuchungManager" class="de.hdu.zimmerbelegung.manager.AdminBuchungManager">
		<property name="buchungDao">
			<ref bean="buchungDao" />
		</property>
	</bean>

	<bean id="adminTagStatusManager" class="de.hdu.zimmerbelegung.manager.AdminTagStatusManager">
		<property name="tagStatusDao">
			<ref bean="tagStatusDao" />
		</property>
	</bean>

	<bean id="adminZeitraumStatusManager"
		class="de.hdu.zimmerbelegung.manager.AdminZeitraumStatusManager">
		<property name="zeitraumStatusDao">
			<ref bean="zeitraumStatusDao" />
		</property>
	</bean>

	<bean id="ZimmerManager" class="de.hdu.zimmerbelegung.manager.ZimmerManager">
		<property name="zimmerDao">
			<ref bean="zimmerDao" />
		</property>
	</bean>

</beans>